/*body {
    background-color: black;
    background-image: linear-gradient(#6d00a8 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #6d00a8 calc(100% - 0.5px)), linear-gradient(90deg, #6d00a8 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #6d00a8 calc(100% - 0.5px));
    background-size: 5% 50%;
    border: 0.5px solid #6d00a8;
} */

#headerDiv {
    position: fixed;
    top: 0;
    width: 100%;
    height: 15%;
    text-align: center;
    background-color: darkmagenta;
}

#navbar {
    position: absolute;
    top: 15%;
    width: 100%;
    height: 5%;
    text-align: right;
    background-color: darkmagenta;
    
}

#main {
    position: absolute;
    bottom: 0;
    border: 5px solid black;
    width: 80%;
    height: 80%;
    left: 10%;
}