#headerDiv {
    position: fixed;
    top: 0;
    right:0;
    width: 110%;
    height: 15%;
    text-align: center;
    background-color: darkmagenta;
}

#navbar {
    position: absolute;
    top: 15%;
    right: 0;
    width: 110%;
    height: 5%;
    text-align: right;
    background-color: darkmagenta;
    
}

#main {
    position: absolute;
    bottom: 0;
    border: 5px solid black;
    width: 80%;
    height: 78%;
    left: 10%;
}

#titleLink {
    text-decoration: none;
}